.alfabeOrder{
    margin-bottom: 1.9rem;
    position: absolute;
    top: 27px;
    left: 62%;
    color: #0e1110;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      
} 

    .bodyOrder label{
        color: #0e0f0f;
        margin-bottom: 1rem;
        
    }

    .ordenar{
        background-color: #14eee3;
        border-radius: .2rem;
    }   
    
    .ordenar:hover{
        cursor: pointer;
    }

        .ordenar option{
            background-color: rgb(26, 26, 26);;
            border-radius: .3rem;
            color: white;
        }