.contenedor {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    flex-wrap: wrap;
}


.cards {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    align-items    : center;
    gap            : 1rem;
    text-align     : center;
    margin         : 2rem 0;
    padding        : inherit;
}

.cards h1 {
    width: 100%;
}


.cards li {
    width     : max-content;
    list-style: none;
}