.bodyDogsCreated {
    display       : flex;
    flex-direction: column;
    color         : #0e1110;
    font-family   : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textorder {
    color     : #080808;
}