.containerFiltros {
    display         : flex;
    justify-content : space-evenly;
    flex-wrap       : wrap;
    background-color: rgb(76 40 5 / 60%);
    height          : 60px;
    border-top      : 2px solid #14eee36e;
}


.home {
    display              : block;
    flex-direction       : column;
    background-color     : #afbabd;
    background-repeat    : no-repeat;
    background-size      : cover;
    background-attachment: fixed;
    min-height           : 100vh;
}



.logohome {
    margin-left : 3rem;
    margin-right: 8rem;
    width       : 8rem;
}


.textohome h1 {
    font-family: 'Montserrat';
    font-size  : 1.5rem;
    position   : relative;
    right      : 20px;
    position   : relative;
    top        : -8px;
    color      : rgb(231, 241, 241)
}



.logo img {
    color        : gray;
    position     : absolute;
    border-radius: .5rem;
    top          : 27px;
    left         : 10%;
    width        : 10%;
    height       : 20%;
}


.body {
    width           : 100%;
    display         : flex;
    background-color: black;
}

.cards {
    width: 100%;
}



.button:link,
.button:link:visited {
    text-transform : uppercase;
    text-decoration: none;
    padding        : 10px 25px;
    display        : inline-block;
    border-radius  : 100px;
    transition     : all .2s;
    height         : max-content;

}



.button {
    background-color: #14eee36e;
    margin-top      : 11px;
    font-weight     : 700;
    color           : black;

}

.button:hover {
    background-color: rgb(126, 113, 113);
}

.button-white::after {
    background-color: rgb(0, 0, 0);
}