.container {
  display   : flex;
  justify-content: center;
  align-items: center;
  flex-direction : column;
  flex-wrap      : wrap;
  position: relative;
  width: 100%;
  
  
}

.container a:hover {
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.8));
}

.container a{
  background     : linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5));
  border-radius  : .2rem;
  border         : solid 1px black;
  font-weight    : 700;
  font-size: 25px;
  margin-bottom: 10px;
  color: #000000;
  text-decoration: none;

}


.containerHome{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  margin-top: 100px;
  text-align: center;
  position: fixed;
  padding-left: 10px;
  padding-right: 10px;
}


.container h1{
  margin: 0;
  color: #070707;
}



@media (max-width: 768px) {
  .containerHome {
    font-size: 14px;
  }
}

.container {
  height: 136vh;
  background: url(../image/perro.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

