.container {
  display   : flex;
  flex-wrap : wrap;
 

}

.containerHome {
  display        : flex;
  flex-direction : column;
  align-items: center;
  align-items    : center;
  flex-wrap      : wrap;
  background-color: #759457;
  width: 100%;
  max-width: 500px;
}


@media (max-width: 768px) {
 .containerHome {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
 .containerHome {
    font-size: 14px;
  }
}

.boton a:hover {
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.8));
}

.boton a {
  font-size      : 1.5rem;
  padding        : .5rem 10rem;
  text-decoration: none;
  color          : #191c1c;
  background     : linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5));
  border-radius  : .3rem;
  border         : solid 2px black;
  font-weight    : 700;
  position       : sticky;
}



.container img {
  width        : 100%;
}