.container {
    display       : flex;
    flex-direction: column;
    color         : #0e1110;
    font-family   : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.texto {
    color        : #0b0c0c;
    margin-bottom: 1rem;
}


.boton {
    display         : flex;
    justify-content : center;
    align-items     : flex-start;
    background-color: #14eee36e;
    border-radius   : .2rem;
}

.boton button {
    display: flex;

    justify-content: flex-start;
    align-items    : flex-start;
    border         : none;
    background     : transparent;
    color          : #212121;

}

.boton button:hover {
    background: #212121a9;
    cursor    : pointer;
}