.container {
    display       : flex;
    flex-direction: column;
    color         : #0e1110;
    font-family   : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.texto {
    color: #0d0d0b;
}


.select {
    background-color: #14eee36e;
    border-radius   : .3rem;
}

.select:hover {
    cursor: pointer;
}

.select option {
    background-color: #ebe5e5;
    border-radius   : .2rem;
    color           : rgb(8, 12, 13);

}