.container{
    margin-bottom: 1.9rem;
    position: absolute;
    top: 27px;
    left: 72%;
    color: #0e1110;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.texto{
    color: #0d0d0b;
    margin-bottom: 1rem;
}


.select{
    background-color: #10f1e2   ;
    border-radius: .3rem;
    position: absolute;
    top: 70%;
    left:-10%;
    
} 

.select:hover{
    cursor: pointer;
}

     .select option{
         background-color: #ebe5e5;
         border-radius: .2rem;
         color: rgb(8, 12, 13);

     }

    